body{
  display: flex;
  justify-content: center;
}

header{
  display: flex;
  color: white;
  margin-top: 1em;
}

.Description{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Icons{
  font-size: 8em;
  margin-inline-end: 0.2em;
}

h1{
  font-size: 5em;
  margin: 0;
}

p{
  width: 40em;
}